<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders 콘솔에 출력을 하기 위한 설정-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Appenders 파일로 하루에 한번씩 파일을 생성하여 저장하기 위한 설정 -->
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/eclipse_2020_12/spring_log/ULAS_project.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n"/>
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.las.khj">
		<level value="TRACE" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="TRACE" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="TRACE" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="TRACE" />
	</logger>

	<logger name="org.springframework.web">
		<level value="INFO" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="TRACE" />
		<appender-ref ref="console" />
		<appender-ref ref="file"/>
	</root>
	
</log4j:configuration>
